h1 {color: red;
}
H1 {text-align:center ;
}
h1 {font-size:400% ;
}
H2 {text-align:center ;
}
#morango3 {margin-left:10%;
}
#morango2 {margin-left: 15%;
}
#morango1 {margin-left: 5%;
}
h2 {font-size:300% ;
}
h2 {color: rgb(0, 0, 0);
}
h3 {text-align:center ;
}
